 /* #acabaf;#4f4e50;#352f44;#2a2438; */

body {
  background-image: url("./images/Background2.jpg");
  opacity: 80%;
  background-size: 50%;
  background-repeat: repeat;
  background-color: #4f4e50;
  background-position: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

li {
  list-style-type: none;
}

.glass {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  position: relative;
  justify-content: center;
  width: auto;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 375px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #4f4e50;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
img:hover {
  webkit-filter: blur(4px);
  filter: blur(4px)
}

header {
  width: auto;
  height: auto;
  background-color: #acabaf;
  box-shadow: 0px 0px 15px #000
}

#terp {
  max-width: 150px;
  border-radius: 10%;
  box-shadow: 0px 0px 15px #000;
}

#bundle {
  max-width: 150px;
  border-radius: 10%;
  box-shadow: 0px 0px 15px #000;
}

#coconut {
  max-width: 150px;
  border-radius: 10%;
  box-shadow: 0px 0px 15px #000;
}

#rigone {
  max-width: 150px;
  border-radius: 10%;
  box-shadow: 0px 0px 15px #000;
}

#afm {
  max-width: 150px;
  border-radius: 10%;
  box-shadow: 0px 0px 15px #000;
}

#mav {
  max-width: 150px;
  border-radius: 10%;
  box-shadow: 0px 0px 15px #000;
}

#haring {
  max-width: 150px;
  border-radius: 10%;
  box-shadow: 0px 0px 15px #000;
}

#spoons {
  max-width: 150px;
  border-radius: 10%;
  box-shadow: 0px 0px 15px #000;
}

#logo {
  position: absolute;
  max-width: auto;
  max-height: auto;
  background-color: #acabaf;

}
#jumbotron {
  width: auto;
  height: auto;
  background-color: #acabaf;
  box-shadow: 0px 0px 15px #000
}

#bio {
  width: auto;
  height: auto;
  margin-top: 30px;
  padding: 15px;
  background-color: #acabaf;
  box-shadow: 0px 0px 15px #000
}

#contact {
  width: auto;
  height: auto;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #acabaf;
  box-shadow: 0px 0px 15px #000
}

#faq {
  width: auto;
  height: auto;
  padding-bottom: 50px;
  background-color: #acabaf;
  box-shadow: 0px 0px 15px #000
}

.footer {

}

#root {
border: none;
}

p {
  text-align: center;
  color: black;
}

@media (max-width: 549px){
    .hidden--mobile {
    display: none !important;
  }

@media (max-width: 550px) {
    .hidden--mobile {
    display: none;
  }
}

.fas fa-bars {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden--mobile nav-links {
  margin: 0;
  padding: 0;
}

.nav-links {
  list-style-type: block;
  position: -webkit-sticky;
  display: inline-flex;
}
